<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- CSS -->
  <link rel="stylesheet" href="../static/main.css" />

  <!-- Font awesome -->
  <link href="../static/fontawesome/css/all.css" rel="stylesheet">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap" rel="stylesheet" />

  <title>Concerts Site</title>
</head>

<body class="bg-500">
  <header>{% include "./components/navbar.jinja" %}</header>

  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container mb-3">
      <div class="row">
        <div class="col-md-12">
          {% for message in messages %}
          <div class="alert alert-info bg-200 tx-000 mb-0 mt-3">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
  </main>

  <!-- Custom JS -->
  <script src="../static/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>