<div class="row mt-3">
  <div class="row mb-0">
    <h4 class="mb-0 mb-1">{{comment.username}}</h4>
    <h6 class="tx-100">comment posted {{comment.timestamp.strftime("%d %b %Y, %I:%M %p")}}</h6>
  </div>

  <div class="row">
    <p>{{comment.desc}}</p>
  </div>
</div>